# Django/Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
ENV/
.venv/
*.sqlite3

# Node.js/React
node_modules/
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Operating System
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Desktop.ini

# Editor/IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Build and Deployment
build/
dist/
staticfiles/

# Logs
*.log
*.out

# Coverage
coverage/
*.lcov

# Temporary files
*.tmp
*.temp